
@(title: String, opcion: String, descripcion: String, activo: String, css: Html = Html(""), js: Html = Html(""))(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <!-- <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")"> -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/sb-admin.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("font-awesome/css/font-awesome.min.css")">
        @css 
        
    </head>
    <body>

        <div id="wrapper">
            
            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.LogisticaController.viajes"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Inicio</a>
                </div>
                <!-- Top Menu Items -->
                <ul class="nav navbar-right top-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle toggle" data-toggle="dropdown"><i class="fa fa-user"></i> @session().get("username") <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a data-toggle="modal" data-target="#mod-password" class="btn"><span class="glyphicon glyphicon-setting" aria-hidden="true"></span> Password</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="@routes.HomeController.logout"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Salir</a>
                            </li>
                        </ul>
                    </li>
                    
                </ul>
                <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav side-nav">
                        
                        @if(activo=="viajes"){
                            <li class="active">
                        }else{
                            <li>
                        }
                            <a href="@routes.LogisticaController.viajes"><span class="glyphicon glyphicon-road" aria-hidden="true"></span> Viajes</a>
                        </li>


                        @if(activo=="planilla"){
                            <li class="active">
                        }else{
                            <li>
                        }
                            <a href="@routes.LogisticaController.planilla"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Planilla</a>
                        </li>


                        @if(activo=="facturacion"){
                            <li class="active">
                        }else{
                            <li>
                        }
                            <a href="@routes.LogisticaController.facturacion"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Facturacion</a>
                        </li>


                        @if(activo=="politica_cobro"){
                            <li class="active">
                        }else{
                            <li>
                        }
                            <a href="@routes.LogisticaController.politica_cobro"><span class="glyphicon glyphicon-euro" aria-hidden="true"></span> Politica Cobro</a>
                        </li>


                        @if(activo=="politica_pago"){
                            <li class="active">
                        }else{
                            <li>
                        }
                            <a href="@routes.LogisticaController.politica_pago"><span class="glyphicon glyphicon-euro" aria-hidden="true"></span> Politica pago</a>
                        </li>


                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
            <!-- End Navigation -->

            <!--Content-->
            <div id="page-wrapper">

                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">
                                @opcion
                                <small>@descripcion</small>
                            </h1>
                            @content

                            <div class="well">
                                
                            </div>

                        </div>
                    </div>
                    <!-- /.row -->


                </div>
                <!-- /.container-fluid -->

            </div>
            <!--/.page-wrapper-->
            <!--End Content-->



        </div>
        <!--/.wrapper-->





        <!-- Modal -->
        <div class="modal fade" id="mod-password" role="dialog">
            <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Cabiar contraseña:</h4>
                    </div>
                    <form method="POST" action="@routes.HomeController.set_password()">
                    <div class="modal-body">

                        


                        @if(flash.containsKey("password_error")){
                            <div class="row">
                            <div class="alert alert-danger fade in col-lg-12">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <strong>@flash.get("password_error")</strong>
                            </div>
                            </div>
                        }

                        
                        
                            
                                
                                <div class="form-group">
                                    <label>Password actual:</label>
                                    <input type="password" class="form-control" name="old"/>
                                </div>

                                <div class="form-group">
                                    <label>Nuevo Password:</label>
                                    <input type="password" class="form-control" name="new"/>
                                </div>

                                <div class="form-group">
                                    <label>Confirme Nuevo Password:</label>
                                    <input type="password" class="form-control" name="confirmation"/>
                                </div>

                            




                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>                          
                        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Cambiar</button>
                    </div>
                    </form>
                </div>

            </div>
        </div>




        

        @* And here's where we render the `Html` object containing
         * the page content. *@


        @if(flash.containsKey("modal")) {
            <script>
                $(window).load(function(){
                    $('#@flash.get("modal")').modal('show');
                });
            </script>
        }



        

        @* And here's where we render the `Html` object containing
         * the page content. *@
        

        <script src="@routes.Assets.versioned("javascripts/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        @js
    </body>
</html>
