@base("About CRM"){
	
	<div class="panel panel-default">
		<div class="panel-heading"><center><h4>Historia</h4></center></div>
		<div class="panel-body">
			<p>
				Este sistema ha sido desarrollado para efectos de la materia de Diseño de Sistemas a favor
				de la empresa VAPE. El objetivo es automatizar el control de viajes realizados por la empresa y llevar
				un control de planilla de los motoristas, asi como tambien un control de cobro a clientes.
			</p>
		</div>
	</div>


	<div class="panel panel-default">
		<div class="panel-heading"><center><h4>Colaboradores</h4></center></div>
		<div class="panel-body">
			
			<div class="panel panel-default">
				<div class="panel-heading"><h6><strong>Ruth Sarahi Torrento Lara</strong></h6></div>
				<div class="panel-body">
					<p></p>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading"><h6><strong>Jose Elvis Quintanilla Ticas</strong></h6></div>
				<div class="panel-body">
					<p></p>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading"><h6><strong>Fernando Aguilar Huezo</strong></h6></div>
				<div class="panel-body">
					<p></p>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading"><h6><strong>Enrique</strong></h6></div>
				<div class="panel-body">
					<p></p>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading"><h6><strong>Samuel Alexander Nuñez Flores</strong></h6></div>
				<div class="panel-body">
					<p></p>
				</div>
			</div>

		</div>
	</div>
	
}