@(motorista_form: Form[Motorista], motoristas_list: List[Motorista] )
@import helper._

@css={
	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap-table.css")">
}

@js={
	<script src="@routes.Assets.versioned("javascripts/bootstrap-table.js")" type="text/javascript"></script>

	<!--fix modal open at edit-->
	@if(flash.containsKey("modal")) {
		<script>
	    	$(window).load(function(){
	        	$('#@flash.get("modal")').modal('show');
	    	});
	    </script>
	}


	<!-- fix modal close at edit -->
	<script>
		$('.modal').on('hidden.bs.modal', function () {
			if(window.location.pathname!='@routes.GerenteController.motoristas'){
				
				window.location='@routes.GerenteController.motoristas';
			}	
		});
	</script>
}



@errores_formulario={

	@if(motorista_form.hasGlobalErrors) {

        @for(error <- motorista_form.globalErrors) {
	        <div class="alert alert-danger">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>@Messages(error.messages, error.arguments.toArray: _*)</strong>
			</div>
        }
	}


	@for(error <- motorista_form("codigo").errors) {
    	<div class="alert alert-danger">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>@Messages(error.messages, error.arguments.toArray: _*)</strong>
		</div>
	}


	@for(error <- motorista_form("nombre").errors) {
    	<div class="alert alert-danger">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>@Messages(error.messages, error.arguments.toArray: _*)</strong>
		</div>
	}



	@for(error <- motorista_form("dui").errors) {
    	<div class="alert alert-danger">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>@Messages(error.messages, error.arguments.toArray: _*)</strong>
		</div>
	}



	@for(error <- motorista_form("nit").errors) {
    	<div class="alert alert-danger">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>@Messages(error.messages, error.arguments.toArray: _*)</strong>
		</div>
	}


	
	@for(error <- motorista_form("licencia").errors) {
    	<div class="alert alert-danger">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>@Messages(error.messages, error.arguments.toArray: _*)</strong>
		</div>
	}


}




@gerente.base("Manager SIIAF","Motoristas","Gestion de motoristas","motoristas",css,js){
	<button type="button" id="main-add-button" class="btn btn-primary" data-toggle="modal" data-target="#mod-new"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar Motorista</button>

	@if(flash.containsKey("exito")){
		<div class="alert alert-success fade in">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			<strong>@flash.get("exito")</strong>
		</div>
	}


  	<!-- Modal -->
	<div class="modal fade" id="mod-new" role="dialog">

		<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			@form(action=routes.GerenteController.motorista_new()){
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Agregar nuevo motorista</h4>
				</div>
				@errores_formulario
				<div class="modal-body">



					 <div class="form-group">
						@inputText(motorista_form("codigo"), '_showConstraints -> false, '_showErrors -> false ,'class -> "form-control", 'placeholder -> "Codigo de Motorista",'_label -> "Codigo: ")
					 </div>

	        		 <div class="form-group">
	        		 	@inputText(motorista_form("nombre"), '_showConstraints -> false , '_showErrors -> false,'class -> "form-control", 'placeholder -> "Nombre del Motorista", '_label -> "Nombre: ")
	        		 </div>

	        		 <div class="form-group">
	        		 	@inputText(motorista_form("dui"), '_showConstraints -> false , '_showErrors -> false,'class -> "form-control", 'placeholder -> "Numero de DUI", '_label -> "DUI: ")
	        		 </div>

	        		 <div class="form-group">
	        		 	@inputText(motorista_form("nit"), '_showConstraints -> false , '_showErrors -> false,'class -> "form-control", 'placeholder -> "Numero de NIT", '_label -> "NIT: ")
	        		 </div>

					 <div class="form-group">
						@inputText(motorista_form("licencia"), '_showConstraints -> false , '_showErrors -> false,'class -> "form-control", 'placeholder -> "Numero de licencia",'_label -> "Licencia: ")
					 </div>



				</div>
				<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
						<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar</button>
				</div>
			}
		</div>

		</div>
	</div>

                	





	<div class="table-responsive">
		<div class="form-group pull-right">
		<input type="text" class="search form-control" placeholder="Busqueda">
	</div>
	<span class="counter pull-right"></span>
	<table class="table table-hover table-bordered results">
		<thead>
			<tr>
				<th>Codigo</th>
				<th class="col-md-5 col-xs-5">Nombre</th>
				<th class="col-md-4 col-xs-4">DUI</th>
				<th class="col-md-3 col-xs-3">NIT</th>
				<th class="col-md-3 col-xs-3">Licencia</th>
				<th class="col-md-3 col-xs-3 center-column">Editar</th>
				<th class="col-md-3 col-xs-3 center-column">Eliminar</th>
			</tr>
			<tr class="warning no-result">
				<td colspan="4"><i class="fa fa-warning"></i> No hay resultados</td>
			</tr>
		</thead>
		<tbody>
			@for(motorista <- motoristas_list){
				<tr>
					<td>@motorista.codigo</td>
					<td>@motorista.nombre</td>
					<td>@motorista.dui</td>
					<td>@motorista.nit</td>
					<td>@motorista.licencia</td>
					<td><button class="btn btn-success btn-xs" data-toggle="modal" data-target="#mod-edit-@motorista.id"><span class="glyphicon glyphicon-edit"></span> Editar</button></td>
					<td><button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#mod-remove-@motorista.id"><span class="glyphicon glyphicon-trash"></span> Eliminar</button></td>
				</tr>



				<!-- Modal -->
				<div class="modal fade" id="mod-edit-@motorista.id" role="dialog">
					
					<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content">
						@form(action=routes.GerenteController.motorista_edit(motorista.id)){
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Editar motorista: @motorista.nombre</h4>
								</div>
								@errores_formulario
								<div class="modal-body">


									 <div class="form-group">
					        		 	@inputText(motorista.getForm()("id"), '_showConstraints -> false, 'readonly -> "readonly" , '_showErrors -> false,'class -> "form-control", 'placeholder -> "Id", '_label -> "Id: ")
					        		 </div>

					        		 <div class="form-group">
					        		 	@inputText(motorista.getForm()("codigo"), '_showConstraints -> false , '_showErrors -> false,'class -> "form-control", 'placeholder -> "Codigo del motorista", '_label -> "Codigo: ")
					        		 </div>

					        		 <div class="form-group">
					        		 	@inputText(motorista.getForm()("nombre"), '_showConstraints -> false , '_showErrors -> false,'class -> "form-control", 'placeholder -> "Nombre del motorista", '_label -> "Nombre: ")
					        		 </div>

									 <div class="form-group">
										@inputText(motorista.getForm()("dui"), '_showConstraints -> false, '_showErrors -> false ,'class -> "form-control", 'placeholder -> "NUmero de DUI",'_label -> "DUI: ")
									 </div>

									 <div class="form-group">
										@inputText(motorista.getForm()("nit"), '_showConstraints -> false, '_showErrors -> false ,'class -> "form-control", 'placeholder -> "Numero de NIT",'_label -> "NIT: ")
									 </div>

									 <div class="form-group">
										@inputText(motorista.getForm()("licencia"), '_showConstraints -> false, '_showErrors -> false ,'class -> "form-control", 'placeholder -> "Numero de Licencia",'_label -> "Licencia: ")
									 </div>



								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
									<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Guardar</button>
								</div>
							</div>
						}
					</div>
				</div>





				<!-- Modal -->
				<div class="modal fade" id="mod-remove-@motorista.id" role="dialog">
					<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Eliminar motorista: @motorista.nombre</h4>
						</div>
						<div class="modal-body">

							¿Esta seguro que desea eliminar el motorista?.
							Ya no se podran registrar viajes para este motorista y  por tanto no
							se podra seguir calculando su pago periodico.


						</div>
						<div class="modal-footer">
							<form>
							<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>							
							<button type="submit" class="btn btn-danger" formmethod="POST" formaction="@routes.GerenteController.motorista_remove(motorista.id)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Eliminar</button>
							</form>
						</div>
					</div>

					</div>
				</div>


			}
		</tbody>
	</table>
	</div>

}