@(detalles: List[DetallePago])
@import scala.math.BigDecimal
@import helper._

@css={
	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap-table.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/vertical-table.css")">
<style>
	.popover-content {
  height: 200px;
  overflow-y: auto;
 }
 </style>
}

@js={
	<script src="@routes.Assets.versioned("javascripts/bootstrap-table.js")" type="text/javascript"></script>
	<script src="@routes.Assets.versioned("javascripts/export/tableExport.js")" type="text/javascript"></script>
	<script src="@routes.Assets.versioned("javascripts/export/jquery.base64.js")" type="text/javascript"></script>
	<script src="@routes.Assets.versioned("javascripts/export/html2canvas.js")" type="text/javascript"></script>
	<script src="@routes.Assets.versioned("javascripts/export/jspdf/libs/sprintf.js")" type="text/javascript"></script>
	<script src="@routes.Assets.versioned("javascripts/export/jspdf/jspdf.js")" type="text/javascript"></script>
	<script src="@routes.Assets.versioned("javascripts/export/jspdf/libs/base64.js")" type="text/javascript"></script>

	<script>
		$(document).ready(function(){
		    $('[data-toggle="popover"]').popover();
		});


		$(document).on('click', function (e) {
		    $('[data-toggle="popover"],[data-original-title]').each(function () {
		        //the 'is' for buttons that trigger popups
		        //the 'has' for icons within a button that triggers a popup
		        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {                
		            (($(this).popover('hide').data('bs.popover')||{}).inState||{}).click = false  // fix for BS 3.3.6
		        }

		    });
		});
</script>				
}

@gerente.base("Logistic SIIAF","Planilla de Pago","Planilla de pago a motoristas","planilla",css,js){
	

	<div class="table-responsive">
		<button type="button" class="btn btn-warning" onclick="$('#planilla-table').tableExport({type:'excel',escape:'false'});"><span class="glyphicon glyphicon-export"> Exportar excel</span></button>
	  <div class="form-group pull-right">
			<input type="text" class="search1 form-control" placeholder="Busqueda">
	  </div>
	  <span class="counter1 pull-right"></span>
	  <table class="table table-hover table-bordered results1" id="planilla-table">
		  <thead>
			<tr>
				
				<th></th>
				<th colspan="2"><center>Locales</center></th>
				<th colspan="2"><center>Internacionales</center></th>
				<th colspan="2"><center>V. Agregados</center></th>
				<th colspan="2"><center>Viaticos</center></th>
				<th></th><!-- ganado -->
				<th></th><!-- bono -->
				<th></th><!-- total pago -->
				<th></th><!-- isss -->
				<th></th><!-- afp -->
				

			</tr>
			<tr class="warning no-result1">
				<td colspan="4"><i class="fa fa-warning"></i> No hay resultados</td>
			</tr>
		
			
			<tr>
				<th rowspan="1"><center>Motorista</center></th>
				<!-- <th><center>Viajes</center></th> -->
				<th><center>Kms</center></th>
				<th><center>Monto</center></th>
				<!-- <th><center>Viajes</center></th> -->
				<th><center>Kms</center></th>
				<th><center>Monto</center></th>
				<th><center>Cantidad</center></th>
				<th><center>Monto</center></th>
				<th><center>Cantidad</center></th>
				<th><center>Monto</center></th>
				<th rowspan="1"><center>Ganado</center></th>
				<th rowspan="1"><center>Bono</center></th>
				<th rowspan="1"><center>Total pago</center></th>
				<th rowspan="1"><center>ISSS</center></th>
				<th rowspan="1"><center>AFP</center></th>
				
			</tr>
		</thead>
		<tbody>
			@for(detalle <- detalles){
				<tr>
					<td>@detalle.motorista.nombre</td><!-- nombre -->
					<!-- <td>@detalle.total_viajes_locales</td> viajes locales --> 
					<td><a title="<center><strong>@detalle.total_viajes_locales viajes</strong></center>" class="popover-content" data-toggle="popover"  data-html="true" data-content='<strong>Fecha viaje</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <strong>Kms</strong><br/>@for(viaje <- Viaje.find.where().conjunction().eq("periodo_planilla",detalle.periodo_planilla).eq("motorista",detalle.motorista).eq("tipo",1).findList()){@viaje.fecha_registro.format("dd-MM-yyyy") &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp @viaje.total_km <br/>}'>@BigDecimal(detalle.total_km_locales).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble km</a></td> <!-- km locales-->
					<td>$@BigDecimal(detalle.total_monto_locales).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td><!-- monto locales -->
					<!-- <td>@detalle.total_viajes_internacionales</td>  viajes internacionales -->
					<td><a href="#" title="<center><strong>@detalle.total_viajes_locales viajes</strong></center>" class="popover-content" data-toggle="popover"  data-html="true" data-content='<strong>Fecha viaje</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <strong>Kms</strong><br/>@for(viaje <- Viaje.find.where().conjunction().eq("periodo_planilla",detalle.periodo_planilla).eq("motorista",detalle.motorista).eq("tipo",2).findList()){@viaje.fecha_registro.format("dd-MM-yyyy") &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp @viaje.total_km <br/>}'>@BigDecimal(detalle.total_km_internacionales).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble km</a></td><!-- km internacionales -->
					<td>$@detalle.total_monto_internacionales</td><!-- monto internacionales -->
					<td><center><a href="#" title="<center><strong>@detalle.total_cantidad_agregados boletas</strong></center>" class="popover-content" data-toggle="popover"  data-html="true" data-content='<strong>Viaje</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <strong>Boleta</strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <strong>Fecha</strong><br/>@for(boleta <- Boleta.find.where().conjunction().eq("viaje.periodo_planilla",detalle.periodo_planilla).eq("viaje.motorista",detalle.motorista).eq("sobrepeso",1).findList()){@boleta.viaje.id &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp @boleta.codigo &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp @boleta.viaje.fecha_registro.format("dd-MM-yyyy") <br/>}'>@detalle.total_cantidad_agregados</a></center></td><!-- cantidad valores agregados -->
					<td>$@BigDecimal(detalle.total_monto_agregados).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td><!-- monto valores agregados -->
					<td><center><a href="#" title="<center><strong>@detalle.total_cantidad_agregados boletas</strong></center>" class="popover-content" data-toggle="popover"  data-html="true" data-content='<strong>Vacio/Vacio</strong><br/>@detalle.total_cantidad_viaticos_vv &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp $@detalle.total_monto_viaticos_vv <br/><strong>Vacio/Cargado</strong><br/> @detalle.total_cantidad_viaticos_vc &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp $@detalle.total_monto_viaticos_vc <br/> <strong>Cargado/Cargado</strong><br/> @detalle.total_cantidad_viaticos_cc &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp $@detalle.total_monto_viaticos_cc'>@detalle.total_cantidad_viaticos</a></center></td><!-- cantidad viaticos -->
					<td><a href="#" title="<center><strong>@detalle.total_cantidad_agregados boletas</strong></center>" class="popover-content" data-toggle="popover"  data-html="true" data-content='<strong>Vacio/Vacio</strong><br/>@detalle.total_cantidad_viaticos_vv &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp $@detalle.total_monto_viaticos_vv <br/><strong>Vacio/Cargado</strong><br/> @detalle.total_cantidad_viaticos_vc &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp $@detalle.total_monto_viaticos_vc <br/> <strong>Cargado/Cargado</strong><br/> @detalle.total_cantidad_viaticos_cc &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp $@detalle.total_monto_viaticos_cc'>$@BigDecimal(detalle.total_monto_viaticos).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</a></td><!-- monto viaticos -->
					<td>$@BigDecimal(detalle.salario_ganado).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td><!-- salario ganado -->
					<td>$@BigDecimal(detalle.bono).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td><!-- bono -->
					<td>$@BigDecimal(detalle.total_pago_periodo).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td><!-- pago total -->
					<td>$@BigDecimal(detalle.isss).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td><!-- isss -->
					<td>$@BigDecimal(detalle.afp).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble</td><!-- afp -->
				</tr>
			}
				
		</tbody>
	</table>

}