@(politica_form: Form[PoliticaPago])
@import helper._

@css={
	
}

@js={
	
}


@errores_formulario={

	@if(politica_form.hasGlobalErrors) {

        @for(error <- politica_form.globalErrors) {
	        <div class="alert alert-danger">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>@Messages(error.messages, error.arguments.toArray: _*)</strong>
			</div>
        }
	}



	@for(error <- politica_form("duracion_periodo").errors) {
    	<div class="alert alert-danger">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>@Messages(error.messages, error.arguments.toArray: _*)</strong>
		</div>
	}


	@for(error <- politica_form("salario_minimo").errors) {
    	<div class="alert alert-danger">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>@Messages(error.messages, error.arguments.toArray: _*)</strong>
		</div>
	}



	@for(error <- politica_form("porcentaje_isss").errors) {
    	<div class="alert alert-danger">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>@Messages(error.messages, error.arguments.toArray: _*)</strong>
		</div>
	}

	@for(error <- politica_form("porcentaje_afp").errors) {
    	<div class="alert alert-danger">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>@Messages(error.messages, error.arguments.toArray: _*)</strong>
		</div>
	}


	@for(error <- politica_form("tarifa_pago_km_loc").errors) {
    	<div class="alert alert-danger">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>@Messages(error.messages, error.arguments.toArray: _*)</strong>
		</div>
	}

	@for(error <- politica_form("tarifa_pago_km_int").errors) {
    	<div class="alert alert-danger">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>@Messages(error.messages, error.arguments.toArray: _*)</strong>
		</div>
	}
	
	@for(error <- politica_form("porcentaje_sobrepeso").errors) {
    	<div class="alert alert-danger">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>@Messages(error.messages, error.arguments.toArray: _*)</strong>
		</div>
	}

	@for(error <- politica_form("tarifa_viatico_km_vv").errors) {
    	<div class="alert alert-danger">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>@Messages(error.messages, error.arguments.toArray: _*)</strong>
		</div>
	}

	@for(error <- politica_form("tarifa_viatico_km_vc").errors) {
    	<div class="alert alert-danger">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>@Messages(error.messages, error.arguments.toArray: _*)</strong>
		</div>
	}

	@for(error <- politica_form("tarifa_viatico_km_cc").errors) {
    	<div class="alert alert-danger">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>@Messages(error.messages, error.arguments.toArray: _*)</strong>
		</div>
	}

}

@gerente.base("Manager SIIAF","Politica de Pago","Configuracion","politica_pago",css,js){
	
<div class="row">
	<div class="col-lg-6">
		@if(flash.containsKey("exito")){
		<div class="alert alert-success fade in">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			<strong>@flash.get("exito")</strong>
		</div>
		}

		@errores_formulario


		@form(action=routes.GerenteController.politica_pago_post()){


			<div class="form-group">
			 	@inputText(politica_form("duracion_periodo"), '_showConstraints -> false, '_showErrors -> false,'class -> "form-control", 'placeholder -> "Duracion de periodo en dias", '_label -> "Duracion Periodo: ")
			</div>

			<div class="form-group">
			 	@inputText(politica_form("salario_minimo"), '_showConstraints -> false, '_showErrors -> false,'class -> "form-control", 'placeholder -> "123.4", '_label -> "Salario Minimo: ")
			</div>

			<div class="form-group">
			 	@inputText(politica_form("porcentaje_isss"), '_showConstraints -> false, '_showErrors -> false,'class -> "form-control", 'placeholder -> "6.25", '_label -> "Porcentaje ISSS : ")
			</div>

			<div class="form-group">
			 	@inputText(politica_form("porcentaje_afp"), '_showConstraints -> false, '_showErrors -> false,'class -> "form-control", 'placeholder -> "7.75", '_label -> "Porcentaje AFP: ")
			</div>

			<div class="form-group">
			 	@inputText(politica_form("tarifa_pago_km_loc"), '_showConstraints -> false, '_showErrors -> false,'class -> "form-control", 'placeholder -> "14.75", '_label -> "Tarifa km Local: ")
			</div>

			<div class="form-group">
			 	@inputText(politica_form("tarifa_pago_km_int"), '_showConstraints -> false, '_showErrors -> false,'class -> "form-control", 'placeholder -> "14.75", '_label -> "Tarifa km Internacional: ")
			</div>

			<div class="form-group">
			 	@inputText(politica_form("porcentaje_sobrepeso"), '_showConstraints -> false, '_showErrors -> false,'class -> "form-control", 'placeholder -> "0.50", '_label -> "Porcentaje Sobrepeso: ")
			</div>

			<div class="form-group">
			 	@inputText(politica_form("tarifa_viatico_vv"), '_showConstraints -> false, '_showErrors -> false,'class -> "form-control", 'placeholder -> "14.75", '_label -> "Tarifa viatico V/V: ")
			</div>
			
			<div class="form-group">
			 	@inputText(politica_form("tarifa_viatico_vc"), '_showConstraints -> false, '_showErrors -> false,'class -> "form-control", 'placeholder -> "14.75", '_label -> "Tarifa viatico V/C: ")
			</div>
			<div class="form-group">
			 	@inputText(politica_form("tarifa_viatico_cc"), '_showConstraints -> false, '_showErrors -> false,'class -> "form-control", 'placeholder -> "14.75", '_label -> "Tarifa viatico C/C: ")
			</div>
			
			<button type="submit" class="btn btn-primary form-control"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Cambiar Politica de Cobro</button>

		}
	</div>
</div>
	
}